{% extends "base_site.html" %}

{% block content_sidebar %}
<h1>Grupos</h1>

{% if group_list %}
  <table cellspacing="0">
  <thead><tr>
    <th>Alunos</th>
    <th>Ingresso</th>
  </tr></thead>

  <tbody>
  {% for group in group_list %}
    <tr>
    <th>
    {% for student in group.students.all %}
        {{ student.name }}</br>
    {% endfor %}
    </th>
    <th>
    {% ifnotequal group.students.count group.solution.exercise_list.max_number_of_students %}
        <a href="update/{{ group.id }}">Ingressar</a></th>
    {% else %}
        Ingressar
    {% endifnotequal %}
    </tr>
  {% endfor %}
  </tbody>

{% else %}
  <p> Nenhum grupo disponível </p>
{% endif %}

{% endblock %}
