{% extends "base.html" %}
{% load url from future %}

{% block extrastyle %}
    <script type="text/javascript">
        window.onload =
		function() { document.getElementById("user-tools").style.visibility =
			'hidden'; };
    </script>
	<style>
		form label {
			width: 75px;
		}
	</style>
{% endblock %}

{% block content %}
	<form method="post" action="/login/{% if next %}?next={{ next }}{% endif %}">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Login" />
	</form>
	<p><a href="/signup">Cadastrar</a><p>
{% endblock %}

