{% extends "base_site.html" %}

{% block content_sidebar %}
<h1>{{ course.code }} - {{ course.name }}</h1>
{% if subscribe %}
  <form action="." method="post">
  {% csrf_token %}
    <input type="submit" value="Cadastrar" />
  </form>

{% else %}
  {% if teacher %}
    <a href="/create_modify_exercise_list/" class="addlink">Adicionar Lista</a>
  {% endif %}

  <table cellspacing="0">
    <thead><tr>
    <th>Lista</th>
    <th>Data da publicação</th>
    <th>Data de entrega</th>
    {% if teacher %}
    <th></th>
    <th></th>
    {% endif %}
  </tr></thead>

  <tbody>
  {% for list in exercise_list %}
    <tr>
        <th><a href=/exercise_list/{{ list.id }}>{{ list.name }}</a></th>
        <th>{{ list.pub_date }}</th>
    <th>{{ list.due_date }}</th>
    {% if teacher %}
    <th><a href="/create_modify_exercise_list/{{ list.id }}">Modificar</a></th>
    <th><a href="/exercise_list/delete/{{ list.id }}">Apagar</a></th>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
{% endif %}

{% endblock %}
