{% extends "base_site.html" %}

{% block content_sidebar %}
<h1>Cursos</h1>

{% if course_list %}
  <table cellspacing="0">
  <thead><tr>
    <th>Código</th>
    <th>Matéria</th>
    {% if teacher %}
    <th></th>
    <th></th>
    {% endif %}
  </tr></thead>

  <tbody>
  {% for course in course_list %}
    <tr>
    <th>{{ course.code }}</th>
    <th><a href="/course/{{ course.id }}">{{ course.name }}</a></th>
    {% if teacher %}
    <th><a href="/course/update/{{ course.id }}">update</a></th>
    <th><a href="/course/delete/{{ course.id }}">delete</a></th>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
  </table>

{% else %}
  <p> Nenhum curso disponível </p>
{% endif %}

{% if teacher %}
  <h2>Outras opções</h2>
  <p><a href="/course/add/">Adicionar Curso</a></p>
{% endif %}

{% endblock %}
