{% extends "base_site.html" %}

{% block content_sidebar %}
<h1>Cursos</h1>
{% if teacher %}
  <a href="add/" class="addlink">Adicionar Curso</a>
{% endif %}

{% if course_list %}
  <table cellspacing="0">
  <thead><tr>
    <th>Código</th>
    <th>Matéria</th>
    <th></th>
    <th></th>
  </tr></thead>

  <tbody>
  {% for course in course_list %}
    <tr>
    <th>{{ course.code }}</th>
    <th><a href={{ course.id }}>{{ course.name }}</a></th>
    <th><a href="update/{{ course.id }}">update</a></th>
    <th><a href="delete/{{ course.id }}">delete</a></th>
    </tr>
  {% endfor %}
  </tbody>

{% else %}
  <p> Nenhum curso disponível </p>
{% endif %}

{% endblock %}
