{% extends "base_site.html" %}

{% block content_sidebar %}
  <table cellspacing="0">
    <thead><tr>
      <th>Aluno</th>
      {% for exercise_list in exercise_lists %} 
      <th><a href="/exercise_list/correct/{{ exercise_list.id }}">{{ exercise_list.name|linebreaksbr }}</a></th>
      {% endfor %}
    </tr></thead>

    <tbody>
    {% for student, solutions in students_report %}
      <tr>
        <th>{{ forloop.counter}}. {{ student }}</th>
        {% for solution, not_corrected in solutions %}
        <th><a href="/answer_student/{{ student.id }}/{{ solution.exercise_list.id}}">
        {% if solution.finalized %}
        {{ solution.score }} ({{ not_corrected }})
        {% else %}
          Não finalizada
        {% endif %}
        </a></th>
        {% endfor %}
      </tr>

      {% if forloop.last %}
        <tfoot>
          <tr>
            <th>Número de alunos: {{ forloop.counter }}</th>
            {% for exercise_list in exercise_lists %} 
              <th></th>
            {% endfor %}
          </tr>
          <tr>
            <th>Média</th>
            {% for mean in mean_lists %} 
              <th>{{ mean }}</th>
            {% endfor %}
          </tr>
          <tr>
            <th>Opções</th>
            {% for exercise_list in exercise_lists %} 
              <th><a href="/answer_new/{{ exercise_list.id }}">Corrigir novas</a></th>
            {% endfor %}
          </tr>
        </tfoot>
      {% endif %}
      {% endfor %}
    </tbody>
    
  </table>

{% endblock %}
