#sidebar {
    position: absolute;
    width: 150px;
    color: #f4f379;
    background: #c3d9ff;
    color: black;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}

#content_sidebar {
    position: absolute;
    margin-left: 150px;
    background: white;
    color: black;
    height: 100%;
    width: 100%;
    padding: 7px 7px;
    left: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #0000ff;
    right: 0;
}
