{% extends "base_site.html" %}

{% block content_sidebar %}
    {% if group_answers %}
        <form action="." method="POST">
          {% csrf_token %}
          {% for group, question, answer, form, tf in group_answers %}
              <h3>Questão:</h3>
              <p style="font-weight: bold">{{ question|linebreaksbr }}</p>
              Integrantes: {{ group }}<br/>
          <h3>Resposta:</h3>
          {% if tf %}
              {% for item, q in answer %}
              <p>{{ item|linebreaksbr }}: {{ q }}</p>
              {% endfor %}
          {% else %}
              <p>{{ answer|linebreaksbr }}</p>
          {% endif %}
          {{ form.as_p }}
          {% endfor %}
          <input type="submit" value="Salvar" />
	</form>
    {% else %}
        <p>Nenhuma questão sem correção</p>
    {% endif %}
{% endblock %}
