{% extends "base_site.html" %}

{% block content_sidebar %}

    <div id="questions_wrapper">

    </div>


        <ul>
        <li><input type="radio" name="question_type_selection" value="MU" id="question_type_selection_mu"><label for="question_type_selection_mu">Múltipla escolha</label></li>
        <li><input type="radio" name="question_type_selection" value="TF" id="question_type_selection_tf"><label for="question_type_selection_tf">Verdadeiro ou Falso</label></li>
        <li><input type="radio" name="question_type_selection" value="FI" id="question_type_selection_fi"><label for="question_type_selection_fi">Arquivo</label></li>
        <li><input type="radio" name="question_type_selection" value="JA" id="question_type_selection_ja"><label for="question_type_selection_ja">Java</label></li>
        <li><input type="radio" name="question_type_selection" value="DI" id="question_type_selection_di"><label for="question_type_selection_di">Discursiva</label></li>
        </ul>
        <input type="button" id="add_question" value="Nova questão" />




        {% comment %}
        {{ empty_forms.discursive.as_p }}
        {{ empty_forms.java.as_p }}
        {{ empty_forms.file.as_p }}
        {{ empty_forms.multiple.as_p}}
        {{ empty_forms.multiple_correct.as_p }}
        {{ empty_forms.multiple_wrong.as_p }}
        {{ empty_forms.truefalse.as_p }}
        {{ empty_forms.truefalse_item.as_p }}
        {% endcomment %}


    <script type="text/javascript">
    $(document).ready(function() {

        $("input#add_question").click(function () {
            var selected_question_type = $('input[type=radio][name=question_type_selection]:checked').val();

            var new_multiple_id = "new_mu_question-"+($('div[class=question_wrapper][id^=new_mu_question-]').size()+1);
            var new_truefalse_id = "new_tf_question-"+($('div[class=question_wrapper][id^=new_tf_question-]').size()+1);
            var new_file_id = "new_fi_question-"+($('div[class=question_wrapper][id^=new_fi_question-]').size()+1);
            var new_java_id = "new_ja_question-"+($('div[class=question_wrapper][id^=new_ja_question-]').size()+1);
            var new_discursive_id = "new_di_question-"+($('div[class=question_wrapper][id^=new_di_question-]').size()+1);

            form = "";
            if(selected_question_type == "MU") {
                form += '<div class="question_wrapper" id="'+ new_multiple_id + '">';
                form += '{{ empty_forms.multiple.as_p|linebreaksbr }}'.replace(/__prefix__/g, new_multiple_id);
                form += '{{ empty_forms.multiple_correct.as_p|linebreaksbr }}'.replace(/__prefix__/g, new_multiple_id + "_correct");
                form += '<input type="button" value="Adicionar novo item falso" class="add_multiple_choice_item" id="'+ new_multiple_id + '" />';
                form += '</div>';

            } else if(selected_question_type == "TF") {
                form += '<div class="question_wrapper" id="'+ new_truefalse_id + '">';
                form += '{{ empty_forms.truefalse.as_p|linebreaksbr }}'.replace(/__prefix__/g, new_truefalse_id);
                form += '<input type="button" value="Adicionar novo item" class="add_truefalse_item" id="'+ new_truefalse_id + '" />';
                form += '</div>';
            } else if(selected_question_type == "FI") {
                form += '<div class="question_wrapper" id="'+ new_file_id + '">';
                form += '{{ empty_forms.file.as_p|linebreaksbr }}'.replace(/__prefix__/g, new_file_id);
                form += '</div>';
            } else if(selected_question_type == "JA") {
                form += '<div class="question_wrapper" id="'+ new_java_id + '">';
                form += '{{ empty_forms.java.as_p|linebreaksbr }}'.replace(/__prefix__/g, new_java_id);
                form += '</div>';
            } else if(selected_question_type == "DI") {
                form += '<div class="question_wrapper" id="'+ new_discursive_id + '">';
                form += '{{ empty_forms.discursive.as_p|linebreaksbr }}'.replace(/__prefix__/g, new_discursive_id);
                form += '</div>';
            }

            if(form != "") {
                $(form).appendTo('div#questions_wrapper');
            }

        });

        //Handle new true/false and multiple choice false items.
        //See http://www.learningjquery.com/2008/03/working-with-events-part-1 for reference.
        $('body').click(function(event) {
            var $tgt = $(event.target);
            if($tgt.is('.add_multiple_choice_item')) {

                var mu_parent_id = $tgt.parent().attr('id');
                var mu_num_items = $tgt.siblings('div[class=mu_item]').size();
                var new_multiple_item_id = mu_parent_id + '_item-'+(mu_num_items+1);

                alert(new_multiple_item_id);
                var mu_form = '<div class="mu_item" id="' + new_multiple_item_id + '">';
                mu_form += '{{ empty_forms.multiple_wrong.as_p|linebreaksbr }}'.replace(/__prefix__/g, new_multiple_item_id);
                mu_form += '</div>';
                $tgt.before(mu_form);
                
            } else if($tgt.is('.add_truefalse_item')) {

                var tf_parent_id = $tgt.parent().attr('id');
                var tf_num_items = $tgt.siblings('div[class=tf_item]').size();
                var new_truefalse_item_id = tf_parent_id +'_item-'+(tf_num_items+1);

                alert(new_truefalse_item_id);
                var tf_form = '<div class="tf_item" id="' + new_truefalse_item_id + '">';
                tf_form += '{{ empty_forms.truefalse.as_p|linebreaksbr }}'.replace(/__prefix__/g, new_truefalse_item_id);
                tf_form += '</div>';
                $tgt.before(tf_form);
            }
        });

    });
    </script>

{% endblock %}