{% extends "base_site.html" %}

{% block content_sidebar %}
  <h1>{{ exercise_list.course.name }} - {{ exercise_list.name }}</h1>
  <form action="." method="post">
    {% csrf_token %}
    {% if exercise_list %}
      <ul>
	{% for question, answers in questions %}
	  <li><pre>{{ question.text }}</pre>
            <ul>
              {% for answer in answers %}
                <li>{{ answer.text }}</li>
              {% endfor %}
            </ul>
          </li>
	{% endfor %}
      </ul>
    {% else %}
      <p> Nenhuma lista disponível </p>
    {% endif %}
  </form>
{% endblock %}
