{% extends "base_site.html" %}

{% block content_sidebar %}
    <h3>{{ exercise_list }}</h3>
    <a href="/answer_new/{{ exercise_list.id }}">Corrigir novas</a>

    <table cellspacing="0">
    <thead><tr><th></th>
        {% for number, question in ordered_questions %}
        <th><a href="/answer_list/{{ question.id }}/{{ exercise_list.id }}">Questão {{ number }}</a></th>
        {% endfor %}
	<th>Total</th>
    </tr>
    <tr><th>Pesos:</th>
        {% for weight in weights %}
        <th style="text-align: center;">{{ weight }}</th>
        {% endfor %}
	<th></th>
    </tr></thead>
    <tbody>
    
    {% for student, answers, score in student_answers %}
    <tr>
        <th><a href="/answer_student/{{ student.id }}/{{ exercise_list.id }}/">{{ student }}</a></th>
        {% for answer in answers %}
        <th style="text-align: center;"><a href="/answer_correct/{{ answer.id }}/">
                {% if answer.score %} {{ answer.score|floatformat }}
                {% else %} -
                {% endif %}
        </a></th>

        {% endfor %}
	<th>{{ score|floatformat }}</th>
    </tr>
    {% endfor %}
    </tbody>
{% endblock %}
