{% extends "base_site.html" %}

{% block content_sidebar %}
    <h3>{{ exercise_list }}</h3>
    <p>Escolha a questão a ser corrigita:</p>
    <table cellspacing="0">
    <thead><tr><th></th>
        {% for number, question in ordered_questions %}
        <th><a href="/answer_list/{{ question.id }}/">Questão {{ number }}</a></th>
        {% endfor %}
	<th>Total</th>
    </tr></thead>
    <tbody>
    
    {% for student, answers, score in student_answers %}
    <tr>
        <th><a href="/answer_student/{{ student.id }}/{{ exercise_list.id }}/">{{ student }}</a></th>
        {% for answer in answers %}
        <th><a href="/answer_correct/{{ answer.id }}/">{{ answer.score }}</a></th>
        {% endfor %}
	<th>{{ score }}</th>
    </tr>
    {% endfor %}
    </tbody>
{% endblock %}
