{% extends "base_site.html" %}

{% block content_sidebar %}
    <h1>Respostas à lista de exercício {{ exercise_list_title }}</h1>
    <h2>Aluno: {{ student_name }}</h2>
    {% if chosen_topic %}
        <p>Tema escolhido: {{ chosen_topic }}</p>
    {% endif %}
    {% for question_answer in questions_answers_list %}
        <p>Questão: {{ question_answer.question|linebreaksbr }}</p>
	{% if question_answer.question.type == 'FI' %}
		<p>Resposta: <a href="{{question_answer.answer}}">{{ question_answer.answer }}</a></p>
	{% endif %}
    {% if question_answer.question.type == 'MU' %}
		<p>Resposta: {{ question_answer.answer }}</p>
	{% endif %}
    {% if question_answer.question.type == 'DI' or question_answer.question.type == 'JA' or question_answer.question.type = 'TF'%}
		<p>Resposta: <br />{{ question_answer.answer|linebreaksbr }}</p>
	{% endif %}
    <br />
    {% if question_answer.score != None %}</p>
    <p>Nota: {{ question_answer.score|floatformat }}</p>
    {% else %}
    <p>Nota: -</p>
    {% endif %}
    {% if question_answer.comment %}</p>
    <p>Comentário: {{ question_answer.comment }}</p>
    {% endif %}
    {% endfor %}
{% endblock %}
