{% extends "base_site.html" %}

{% block content_sidebar %}
    <h1>Responder lista de exercícios</h1>
    <form name=data action="." method="post"> {% csrf_token %}
    {% for question, question_form in questions_and_forms.iteritems %}
    <p>Questão: {{ question.text }}</p>
    {{ question_form.as_p }}
    <br />
    {% endfor %}
    {% if not finalized %}
    <input type="submit" name="save" value="Salvar" />
    <!-- TODO <input type="submit" name="test" value="Testar" /> --!>
    <input type="submit" name="finalize" value="Entregar" />
    {% endif %}
    </form>
{% endblock %}
