{% extends "base_site.html" %}

{% block content_sidebar %}

    <h1>Responder lista de exercícios</h1>
    <form name=data action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
    {% for question_and_form in questions_and_forms_list %}
        <table border="1">
        <tr><th>Questão:</th> <td>{{ question_and_form.question.text|linebreaksbr }}</td></tr>
        {{ question_and_form.form.as_table }}
        {% if question_and_form.java_result %}
            <tr><th>Resultado:</th> <td>{{ question_and_form.java_result|linebreaksbr }}</td></tr>
        {% endif %}


        {% if question_and_form.question.type == 'MU' %}
            <tr><th></th><td>
                <input type="button" value="Limpar" id="{{ question_and_form.form.prefix }}"/>
            </td></tr>
        {% endif %}

        </table>
        <br /><br />
    {% endfor %}

    <input type="submit" name="save" value="Salvar" />
    {# TODO <input type="submit" name="test" value="Testar" /> #}
    <input type="submit" name="finalize" value="Entregar" />
    </form>


    <script type="text/javascript">
        $("input[id$=ANSWERMU]").click(function () {
            var radioname = (this).id;
            $("input[type=radio][id*=" + radioname + "]:checked").attr("checked", false);
        });
    </script>
{% endblock %}
