{% extends "base.html" %}

<!-- New CSS -->
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/site_media/base_site.css" />
{% endblock %}

{% load i18n %}

<!--Content -->
{% block content %}
    <div id="sidebar">
        {% block sidebar %}
            <h2>Menu</h2>
	    <p><a href="/my/course">{% trans 'Meus cursos' %}</a></p>
	    <p><a href="/course">{% trans 'Todos cursos' %}</a></p>
        {% endblock %}
    </div>

    <div id="content_sidebar">
        {% block content_sidebar %}
            Conteúdo
        {% endblock %}
    </div>
{% endblock %}
