
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/site_media/base.css" />
  {% block extrastyle %}{% endblock %}
</head>

{% load i18n %}

<body class="{% block bodyclass %}{% endblock %}">
  <!-- Header -->
  <div id="header">
    <div id="branding">
      <h1>{% block branding %}Lista On-line{% endblock %}</h1>
    </div>
    {% if student or admin %}
      <div id="user-tools">
    {% trans 'Welcome,' %}
    <strong>{% firstof user.name user.login student.name student.login admin.name admin.login %}</strong>
    <a href="/logout">{% trans 'Log out' %}</a>
      </div>
    {% else %}
      <div id="user-tools">
    <a href="/login">{% trans 'Log in' %}</a>
      </div>
    {% endif %}
  </div>
<!-- END Header -->

<!-- Content -->
  <div id="content" class="{% block coltype %}colM{% endblock %}">
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
    {% block content %}
      {% block object-tools %}{% endblock %}
      {{ content }}
    {% endblock %}
    <br class="clear" />
  </div>
<!-- END Content -->

<!-- Footer -->
  <div id="footer">
    {% block footer %}{% endblock %}
  </div>
<!-- END Footer -->

</body>
</html>
