
<html>
<head>
  <title>{% block title %}Lista Online XP{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/site_media/base.css" />
  {% block extrastyle %}{% endblock %}
  <script type="text/javascript" src="/site_media/js/jquery.js"></script>
  <script type="text/javascript" src="/site_media/js/jquery-ui.js"></script>
</head>

{% load i18n %}

<body>
  <!-- Header -->
  <div id="content_sidebar_wrapper">

  <div id="header">
    <div id="branding">
      <h1>{% block branding %}Lista On-line{% endblock %}</h1>
    </div>
    {% if student or user or admin %}
      <div id="user-tools">
    {% trans 'Welcome,' %}
    <strong>{% firstof user.name user.login user %}</strong>
    <a href="/logout">{% trans 'Log out' %}</a>
      </div>
    {% else %}
      <div id="user-tools">
    <a href="/login">{% trans 'Log in' %}</a>
      </div>
    {% endif %}
  </div>
<!-- END Header -->

    {% block content %}
    {% endblock %}
      <br class="clear" />

  </div>
    <br class="clear" />


</body>
</html>
